body {
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
  letter-spacing: 0.05em;
  line-height: 1.5;
  color: #fff;
  background-color: #278080;
  padding: 80px;
}
